<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Añade un nuevo streamer
    </h1>

    <form action="/api/addstreamer" method="post">
        <label for="name">Streamer name</label>
        <br>
        <input type="text" id="name" name ="name" value="rubius"> 
        <br>
        
        <label for="subs">Streamer subs</label>
        <br>
        <input type="text" id="subs" name ="subs" value="0"> 
        <br>

        <label for="folowers">Streamer flowwers</label>
        <br>
        <input type="text" id="folowers" name ="folowers" value="0"> 
        <br>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>