<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Buscar un Streamer por su nombre.
    </h1>

    <form action="/api/searchstreamer" method="post">
        <label for="name">Streamer name</label>
        <br>
        <input type="text" id="name" name ="name" value="rubius"> 
        <br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>